<div class = 'container'>
    <h1>Zoek een overtreding op basis van aantal snelheidsboetes</h1>
  <!-- 
    Voor het aanroepen van de onSubmit methode uit de ts file
    Altijd gebruik maken van een formgroup voor forms in te lezen in angular
    'searchDate' wordt gebruikt in de ts file om de formgroup aan te spreken
  -->
    <form (ngSubmit)='onSubmit()'>
     <div class = 'form-group' [formGroup]='searchOvertreding'>
          <label for = 'aantal'>Aantal</label>
          <!-- 'date1string' is naam die ook wordt gebruikt in de ts file-->
          <input type = 'text' formControlName='aantal'>
      </div>
       <br />
       <button type='submit' class='btn btn-success'>Search</button>
  
    </form>
    <br /><br />
  
  <h2>Lijst met gezochte overtredingen</h2>
      <ul *ngFor="let overtreding of overtredingenGezocht">
        <li>{{overtreding.datum_vaststelling}}</li>
        <li>{{overtreding.opnameplaats_straat}}</li>
        <li>{{overtreding.aantal_overtredingen_snelheid}}</li>
        <li>{{overtreding.aantal_overtredingen_roodlicht}}</li>
     </ul>
     
  
  </div>

