<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>OVertredingen</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
    <form action='/searchAantal' method='POST'>
        <span><b>Aantal : </b><input type='text' name='aantal'></span>
        <span><button type='submit'>Search</button></span>
    </form>
</body>
</html>